---
layout: default.hbs
subject: Branded transaction email example
---
<span class="preheader">.</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://comcentre.ac.th"><img src="../src/img/logo.png" height="200" alt="Comcentre"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <p>เรียน คุณ</p>
            <span>เชิญเข้าการร่วมอบรม หัวข้อ</span><br>
            <span>เวลา</span><br>
            <span>ณ ศูนย์คอมพิวเตอร์ มหาวิทยาลัยราชภัฏลำปาง</span>
            <br>
            <br>
            <span>ด้วยความเคารพ</span>
            <br>
            <span>สำนักวิทยบริการและเทคโนโลยีมหาวิทยาลัยราชภัฏลำปาง</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> copyright }} อีเมลฉบับนี้เป็นอีเมลอัตโนมัติกรุณาอย่าตอบกลับ</p>
      </td>
    </tr>
  </table>
</div>
